@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.full-page {
  min-height: 100vh;
}

.has-navbar {
  padding-top: 65px;
}

.padding-x {
  padding-left: 25px;
  padding-right: 25px;
}